<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!---->
    <add key="3mbIniFile" value="C:\Users\kateryna.sayenko\Documents\AuditoryBiophysicsLab\VS Manatea\RunManatea\CVOWC_01_09_2024.3mb" />
    <add key="pileCSV" value="C:\Users\kateryna.sayenko\Documents\AuditoryBiophysicsLab\VS Manatea\RunManatea\CVOWC_Standard_Driving_Scenario_01092024.csv" />
    <add key="gridCSV" value="C:\Users\kateryna.sayenko\Documents\AuditoryBiophysicsLab\VS Manatea\RunManatea\grid3d1.csv" />
    <add key="gridBinary" value="C:\Users\kateryna.sayenko\Documents\AuditoryBiophysicsLab\VS Manatea\RunManatea\GridFile3dSoundLevel.grid" />
  </appSettings>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>  
</configuration>